@font-face {
    font-family: 'Volte';
    src: local('Volte Regular'), local('Volte-Regular'),
        url('Volte-Regular.woff2') format('woff2'),
        url('Volte-Regular.woff') format('woff'),
        url('Volte-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }